h1{
    color: #00334e;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}
body{
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Roboto', sans-serif;
    background: rgb(236,236,236);
    background: linear-gradient(3deg, rgba(212,212,212,1) 0%, rgba(246,245,245,1) 100%);
}
h2{
    color: #145374;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
}
h3{
    color: #ee6f57;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}
div.inline-text{
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
}
table{
    font-size: 20px
}
html, body {
    margin: 0;
    height: 100%;
}

p{
    font-size: 20px;
}